<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>

  <body>
    <% if flash[:notice] %>
    <div class="">
    <p class="notice"> <%= notice %> </p>
    </div>
    <% end %>

    <% if flash[:alert]%>
    <div class="">
    <p class="alert"> <%= alert %> </p>
    </div>
    <% end %>

    <nav class="navbar px-5">
      <div class="navbar-brand">
        <p><%= link_to "Memmbers Only", root_path %></p>
      </div>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <div class="user_navbar d-flex">
            <li> <%= current_user.name %>  </li>
            <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %>  </li>
          </div>
        <% else %>
        <div class="user_navbar d-flex">
          <li class="px-2"> <%= link_to "Sign in", new_user_session_path %> </li>
          <li class="px-2"> <%= link_to "Sign up", new_user_registration_path %> </li>
        </div>
      <% end %>
      </ul>

    </nav>

    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
